./target
target
./.idea/*
./.idea

.env
.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.springframework.ide.eclipse.prefs
.factorypath
